.headerImage {
    background-image: linear-gradient(90deg, rgba(174,39,217,0.3981967787114846) 0%, rgba(68,146,228,0.39539565826330536) 80%), url(../../images/header-bg.jpg);
    background-position: center;
    height: 30vh;
    margin: 5px 5px 0 5px;
    border-radius: 10px;
}

.headerH1 {
    margin: 0 auto;
    width: 60%;
    padding-top: 50px;
    color: white;
}